{% extends 'base.html' %}

{% block contenido %}
{% load i18n %}{% language 'es' %}
<div class="container">
  <!-- Primera fila -->
  <div class="row mt-5">
    <div class="col-sm-3 mb-5">
      <div class="card" id="bbva-card">
        <div class="card-body text-center">
          <a href="{% url "bbva" %}"><h5 class="card-title" id="bbva-title">BBVA</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ bbva.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ bbva.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ bbva.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.0 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.0 }}</p></div>
              <div class="col"><p>Variación <br> <span id="vpbbva">{{ variacion.0 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-5">
      <div class="card" id="ciudad-card">
        <div class="card-body text-center">
          <a href="{% url "ciudad" %}" id="ciudad-title"><h5 class="card-title">Ciudad</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ ciudad.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ ciudad.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ ciudad.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.1 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.1 }}</p></div>
              <div class="col"><p class="mb-2">Variación <br> <span id="vpciudad">{{ variacion.1 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-5">
      <div class="card" id="galicia-card">
        <div class="card-body text-center">
          <a href="{% url "galicia" %}" id="galicia-title"><h5 class="card-title">Galicia</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ galicia.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ galicia.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ galicia.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.2 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.2 }}</p></div>
	            <div class="col"><p class="mb-2">Variación <br> <span id="vpgalicia">{{ variacion.2 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-5">
      <div class="card" id="icbc-card">
        <div class="card-body text-center">
          <a href="{% url "icbc" %}" id="icbc-title"><h5 class="card-title">ICBC</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ icbc.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ icbc.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ icbc.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.3 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.3 }}</p></div>
              <div class="col"><p class="mb-2">Variación <br> <span id="vpicbc">{{ variacion.3 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Primera fila -->

    <!-- Segunda fila -->
  <div class="row">
    <div class="col-sm-3 mb-5">
      <div class="card" id="nacion-card">
        <div class="card-body text-center">
          <a href="{% url "nacion" %}" id="nacion-title"><h5 class="card-title">Nación</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ nacion.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ nacion.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ nacion.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.4 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.4 }}</p></div>
              <div class="col"><p class="mb-2">Variación <br> <span id="vpnacion">{{ variacion.4 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-5">
      <div class="card" id="patagonia-card">
        <div class="card-body text-center">
          <a href="{% url "patagonia" %}" id="patagonia-title"><h5 class="card-title">Patagonia</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ patagonia.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ patagonia.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ patagonia.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.5 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.5 }}</p></div>
              <div class="col"><p class="mb-2">Variación <br> <span id="vppatagonia">{{ variacion.5 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-5">
      <div class="card" id="provincia-card">
        <div class="card-body text-center">
          <a href="{% url "provincia" %}" id="provincia-title"><h5 class="card-title">Provincia</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ provincia.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ provincia.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ provincia.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.6 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.6 }}</p></div>
              <div class="col"><p class="mb-2">Variación <br> <span id="vpprovincia">{{ variacion.6 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-5">
      <div class="card" id="santander-card">
        <div class="card-body text-center">
          <a href="{% url "santander" %}" id="santander-title"><h5 class="card-title">Santander</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">{{ santander.fecha|date:'d/m/Y' }}</h6>
          <div class="container">
            <div class="row">
              <div class="col"><p>Compra <br> $ {{ santander.usd_com }}</p></div>
              <div class="col"><p>Venta <br> $ {{ santander.usd_ven }}</p></div>
            </div>
            <div class="row">
              <div class="col"><p class="pais">con impuesto PAIS <br> <span>${{ pais.7 }}</span></p></div>
            </div>
            <div class="row segunda-row">
              <div class="col"><p class="mb-2">Spread <br> {{ spread.7 }}</p></div>
              <div class="col"><p class="mb-2">Variación <br> <span id="vpsantander">{{ variacion.7 }}</span></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Segunda fila -->
</div>

{% endlanguage %}
{% endblock %}
